extends ../layout

block content
  .row.mt-5 
    .col-md-3 
        include ../includes/profile
        include ../includes/friends
    .col-md-6.text-center 
        include ../includes/publications
    .col-md-3 
        include ../includes/notifications
