extends ../layout

block content
  .row.mt-5 
    .col-md-3 
        include ../includes/profile
        include ../includes/friends
        include ../includes/notifications
    .col-md-9.text-center 
        include ../includes/users