extends ../layout

block content
    h1 Testing Table
    p Inicio sesion
        -if(session){
            ul 
                each singleSession in session
                    li #{singleSession.email} - #{singleSession.password}
        -}else{
            No Hay valores
        -}