.friends.mt-5.border.rounded-3.py-3 
    .row
        .col-md-12.text-center 
            ul 
                li
                    b Andres Carrasco Quispe
                li
                    b Andres Carrasco Quispe
                li
                    b Andres Carrasco Quispe
                li
                    b Andres Carrasco Quispe
                li
                    b Andres Carrasco Quispe
