nav.navbar.bg-dark.navbar-expand-lg.bg-body-tertiary(data-bs-theme='dark')
  .container-fluid
    a.navbar-brand(href='./.') PIW
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        
      form.d-flex(role='search')
        input.form-control.me-2(type='search' placeholder='Buscar Perfil' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Buscar
