.notification.py-3 
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta
    .row.mt-2.p-1
        .col-md-12.border.rounded-3.text-center 
            b Andres Carrasco Quispe 
            | Ha dado me gusta a tu respuesta