.profile.border.rounded-3.py-3 
    .row
        .col-md-12.text-center 
            h4 #{my.name}
            p
                b #{my.nickname}
            p 
                a(href="javascript:changeView('myposts');") Mis Publicaciones 