.profile.py-3 
    .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!
    .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!
    .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!
    .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!
     .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!
     .row.mt-2
        .col-md-12.text-center.border.rounded-3 
            b Andres Carrasco Quispe - 27/07/2023
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia accusantium aspernatur eum sit nostrum voluptatem, dolores repellendus quaerat magni sapiente, laborum, ab adipisci. Rem inventore, tenetur expedita debitis delectus nesciunt!