/*  -- */
.row{
    padding: 0px;
    margin: 0px;
}
.text-justify{
    text-align: justify;
}
.text-left{
    text-align: left;
}
#users a{
    text-decoration: none;
    color: green;
}
#messages .left{
    width: 400px;
    float: left;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
#messages .right{
    width: 400px;
    float: right;
    background-color: rgb(224, 222, 222);
    border-radius: 10px;
    padding: 10px;
}
#messages{
    height: 400px;
    overflow-y: scroll;
}